body {
    background-color: #1f1f1f;
}

.container {
    width: 70%;
    margin: auto;
}

h1 { 
    margin-bottom: 2rem;

    color: #ffffff;
    font-family: 'Gajraj One Regular';
    font-size: 5rem;
    line-height: 5rem;
}

.lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list {
    margin-right: 3rem;
    margin-bottom: 4rem;
    width: 45%;
}

@font-face {
    font-family: "Gajraj One Regular";
    src: url("GajrajOne-Regular.ttf") format("truetype");
}
